.App {
  text-align: center;
}

.nav-link{
  font-family: 'Roboto', sans-serif;
  color: white !important;
}

.navbar-brand{
  font-family: 'Roboto', sans-serif;
  color: white !important;
}

.a-center{
  text-align: center;
}